/* ANIMATIONS */
@keyframes pulseAndFlip {
  0% {
    transform: rotateZ(0deg); }
  25% {
    transform: rotateZ(-180deg); }
  50% {
    transform: rotateX(180deg); }
  75% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(0deg); } }

@keyframes cycleColorFill {
  0% {
    fill: #4CB598; }
  33% {
    fill: #F37A28; }
  66% {
    fill: #028EA3; }
  100% {
    fill: #4CB598; } }

@keyframes tiltLeftRight {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(15deg); }
  75% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }
