// COMMON VARIABLES
// colors
$colorMainAccent: #4CB598;
$colorSecondAccent: #F37A28;
$colorThirdAccent: #028EA3;
//$colorThirdAccent: rgb(76, 132, 181);
$colorMainBackground: #E5EAF2;
$colorMainBackground: #f8f8f8;
$colorMainText: #373737;
$colorSecondText: whitesmoke;
// values
$cardBorderRadius: .15rem;